/* zoomimg.css */

.imgzoom {
    display: inline-block;
    position: relative;
    text-decoration: none;
}
.imgzoom img,
.imgzoom object {
    position: relative;
    z-index: -2;
    vertical-align: middle;
    border: none;
}
.iz-attached:after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: center center no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQNJREFUeNpi/P///2YGKgImBioDqhvIQopiQ0NDiwsXLoigiwODbQtZBkZGRj6xtLR8B2KvWLFC7v379xzoahjJiZTo6GitZcuWKQkKCv4AGYrsQpLDMCYmBmxYVFTUvYiIiEcURQrIsKVLl4INA9LXQMFHtoHPnj1j3bNnjwSSYQwKCgrfDQwM3pIdhiBDpaSkflOUDkGGwNiEDMMwEJjOLLu6umSQYxMoZotsKEkGAhOt8IMHD7iQk4arq+sLYlyG18sww4D0vSVLllwjJSWgRAojI6MPLLGSYxhWF4IMAxnKx8f3JysrSw05TMlyIboCYDp7c/78+RNkGTgyCliAAAMA0d+GcQyXHRQAAAAASUVORK5CYII=);
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAsIDAsIDIwLCAyMCI+CiAgICA8Zz4KICAgICAgPHBhdGggZD0iTTAsMCBMMjAsMCBMMjAsMjAgTDAsMjAgeiIgZmlsbD0iI0ZGRkZGRiIgZmlsbC1vcGFjaXR5PSIwLjciLz4KICAgICAgPHBhdGggZD0iTTguMjIsMTAuNzE5IEw5LjI4LDExLjc4IEw1LjU2MSwxNS41IEw4Ljc1LDE1LjUgTDguNzUsMTcgTDMsMTcgTDMsMTEuMjUgTDQuNSwxMS4yNSBMNC41LDE0LjQzOCB6IiBmaWxsPSIjMDAwMDAwIi8+CiAgICAgIDxwYXRoIGQ9Ik0xMS43ODEsOS4yODEgTDEwLjcyLDguMjIgTDE0LjQ0LDQuNSBMMTEuMjUsNC41IEwxMS4yNSwzIEwxNywzIEwxNyw4Ljc1IEwxNS41LDguNzUgTDE1LjUsNS41NjEgeiIgZmlsbD0iIzAwMDAwMCIvPgogICAgPC9nPgo8L3N2Zz4K), none;
}
.iz-container,
.iz-frame {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-opacity: 0.0;
    -khtml-opacity: 0.0;
    -moz-opacity: 0.0;
    -ms-opacity: 0.0;
    -o-opacity: 0.0;
    opacity: 0.0;
    visibility: hidden;
}
.iz-show {
    -webkit-opacity: 1.0;
    -khtml-opacity: 1.0;
    -moz-opacity: 1.0;
    -ms-opacity: 1.0;
    -o-opacity: 1.0;
    opacity: 1.0;
    visibility: visible;
}
.iz-container {
    position: absolute;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
}
.iz-overlay {
    position: fixed;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    -webkit-opacity: 0.8;
    -khtml-opacity: 0.8;
    -moz-opacity: 0.8;
    -ms-opacity: 0.8;
    -o-opacity: 0.8;
    opacity: 0.8;
    background: center center no-repeat black;
}
.iz-loading {
    background-image: url(data:image/gif;base64,R0lGODlhFwAeAIABAP///////yH/C05FVFNDQVBFMi4wAwEAAAAh+QQJCgABACwAAAAAFwAeAAACTowfoLvoz9qbJ9JrJL5g+w+G4uhETKKgZkpmXQJ3ckyj9Izftp7nds+7vYBEV7AoGx51vyVRiaylos+MU0o9Qq/DbJWLBfe22V1rhU4XAAAh+QQJCgABACwAAAAAFwAeAAACT4yPoMhtCqObEc5br7Z69w+GoliVZjkySwCwbgu/LhvXsg23927T/F/T4YCPofEmJPYWx2ayKfNBjU/ljGnFVafFLG9rlXqDj3E3dTipTQUAIfkECQoAAQAsAAAAABcAHgAAAlCMj6DIzQqcNLCu+WzEzXIJfdMmlqaopWp4JlsEB/EsU/Rd32/O4zIO7O2CtF/vCBwij0bi8uIsLqJIJbX5fFqzL2qSwuVhvbmt09g6rNaWAgAh+QQJCgABACwAAAAAFwAeAAACUYyPoMjNCpx8azqIqz1Zb459lycm5Ul16hqhSRvFgUzPxlLnNg3vvj7TCX+9YS34SwqLyiTS2KxAj7holDm9ZZc3K3WrxHq1Y27Zh3SBWGxIAQAh+QQJCgABACwAAAAAFwAeAAACVIyPoMjNCpx8a1poHdw1G9553yY2WGlmIDmuITp+QUTPdh3N+M3vdO7r8XTCoA9YTBKNyZ+MuVs2m0jocGE1Vqc1aba3/Xq54CcZ+NWaxS+Y670qAAAh+QQJCgABACwAAAAAFwAeAAACU4yPoMjNCpx8a1pob80J+sgZ3xYGX0mB0oiZIkuir+hGdo2b947zNujr5RbBYg0oNOqSzB3SyFtCm8/mcAqtYmdbn9YK7Ca/Uyl4TBMvZR2Y+1MAACH5BAkKAAEALAAAAAAXAB4AAAJRjI+pm+AMjwMxzgovXnqbCT5eKHpBmJHUKaqlKa3UfNY0zdr6vec9z8sBfzsZcSg8Ho1D5KOpbEV1SWiTOZVZo9itNvvrTqvgmXjrg8Vc7FABACH5BAkKAAEALAAAAAAXAB4AAAJRjI+py+0B4msRTFbvyjrxXoWSJo5KaUGhgaYdMloyRM+zWue2jvP7jvv5dCmhkXVM9pRACdNXHAqDUmn0WcRCWdWm9nft0qjfpfhmeiFbbFEBACH5BAkKAAEALAAAAAAXAB4AAAJQjI+py+0PA5hxTVDVzWnz42XXSGmkQZYp9oEsBktyHEv0jN/wm/c1pfPleMGgTVicEZG4Y/K5fMqczGK0ipJCUdifFnmVUr+0MPPYyq7WqwIAIfkECQoAAQAsAAAAABcAHgAAAk6Mj6nL7Q/jA1QqCmzCGvFufAzGkWZgVmCYoW4GvzIa17INt/g9V/v/0vGAtKGxJgTaispj8thrKp9SFnQauka1P6qWyb15m8UVLYVOAwoAIfkECQoAAQAsAAAAABcAHgAAAk+MjwHJ7Q+jnLQegC3CSxvufdnDlRlomqH4Ke4Cv64S17INd/gt0/yO0/2GPuAw1zLaisejUNk7NYHP6UwKDSatuqxz62V6a9XwKJRKqzkFACH5BAkKAAEALAAAAAAXAB4AAAJPjI+gyN3gopy02ouvgvns7i3SRi5fWYKhAbWBC79sTMs0V+ezzest3gu6Xj6hDVgcmow+JJNHfDZZUugy2XNio9gbtbsDw7TVqIqISqsBBQAh+QQJCgABACwAAAAAFwAeAAACUIx/oIrtuJ50YNqLs948x2580kIyUVmCSRVUbgu/byvHdu2y+G3T/I7T/YY+4DAXOvKKSqDQWGNCf88mTGqVVac67nFrxXqR2R5DRUOp14ACACH5BAUKAAEALAAAAAAXAB4AAAJOjG+gC+ifGJxo0Zuw3rz731kUQwYWWYJR1rTm6zZmDNd0K992Pe/6nfMJez8hjmXkKZLFJXNHfAKRzVe0OpUqscYgN/f1ebU91QyFTgMKADs=);
}
.iz-wrapper {
    text-align: center;
}
.iz-frame {
    position: relative;
    display: inline-block;
    max-width: 90%;
    margin: 50px auto;
    padding: 5px;
    background: white;
}
.iz-frame img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
.iz-close {
    position: fixed;
    cursor: pointer;
    z-index: 100;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARJJREFUeNrs2E0OwiAQBeDSeIOe0q3ruqrrYekp7RVwGrsi/RkYWsbmkRBNtNP3GaCICyE0V2gOEEAAAQQQQAABBBBAjoTcuXfOuVeJIJyj55cP93fO9a3i3h33gQP4AoipxjDXzC6S1edrKfya1yDmGqTKo4FoMTGiKiQXs4SoDomC+QSELzbUS0GkmL3vmIAIfm0J1AZkLbB06JmCxMET548tSIQRr2i5edrmKu2EoUUpzxmrk51SH5oWl19a+Iz+YvndQkgxlrYoJJgHZHKLkoLYw9TcxicjtjBVIBrEGuZ0yPQfW4tYwPS5eW6K+08HBc8Shw9c48FhRn474jgIEEAAAQQQQAABBBBA9tpXgAEAYwXWTQ0jBDwAAAAASUVORK5CYII=);
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTAiIGhlaWdodD0iNTAiIHZpZXdCb3g9IjAsIDAsIDUwLCA1MCI+CjxnPgo8cGF0aCBkPSJNMTUuMjgyLDE0LjMwNSBMMTUuNTMsMTQuNDY5IEwyNSwyMy45MzkgTDM0LjQ3LDE0LjQ2OSBMMzQuNzE4LDE0LjMwNSBMMzUuMjgyLDE0LjMwNSBDMzUuNDc5LDE0LjM5OCAzNS41ODIsMTQuNTQxIDM1LjY5NSwxNC43MTggTDM1LjY5NSwxNS4yODIgTDM1LjUzLDE1LjUzIEwyNi4wNjEsMjUgTDM1LjUzLDM0LjQ2OSBMMzUuNjk1LDM0LjcxOCBMMzUuNjk1LDM1LjI4MiBDMzUuNDc1LDM1LjYxMyAzNS42MTMsMzUuNDc1IDM1LjI4MiwzNS42OTUgTDM0LjcxOCwzNS42OTUgTDM0LjQ3LDM1LjUzIEwyNSwyNi4wNiBMMTUuNTMsMzUuNTMgTDE1LjI4MiwzNS42OTUgTDE0LjcxOCwzNS42OTUgQzE0LjUyMSwzNS42MDIgMTQuNDE4LDM1LjQ1OSAxNC4zMDUsMzUuMjgyIEwxNC4zMDUsMzQuNzE4IEwxNC40NywzNC40NjkgTDIzLjkzOSwyNSBMMTQuNDcsMTUuNTMgTDE0LjMwNSwxNS4yODIgTDE0LjMwNSwxNC43MTggQzE0LjM5OCwxNC41MjEgMTQuNTQxLDE0LjQxOCAxNC43MTgsMTQuMzA1IHoiIGZpbGw9IiNGRkZGRkYiLz4KPC9nPgo8L3N2Zz4K), none;
}

@media print {
    .iz-attached:after { display: none; }
    .iz-visible body>* { display: none; }
    .iz-visible body>.iz-container { display: block; position: relative; }
    .iz-visible .iz-wrapper { margin-top: 0 !important; }
    .iz-visible .iz-frame   { margin: 0; }
    .iz-visible .iz-overlay,
    .iz-visible .iz-close   { display: none; }
}

